html,body{
    height:100%;
    min-height:100%;
    background-color: rgb(228, 237, 247);
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
}

h1 {
    margin: 15px 20px;
    font-weight: 500;
}

.form-container {
    height: 300px;
    width: 400px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
    height: 40px;
    width: 330px;
    border-radius: 25px;
    border: none;
    background-color: rgb(241, 245, 249);
    padding: 0 10px;
    margin: 7px 15px;
}

.create-account {
    padding: 0 10px;
    margin: 7px 10px;
    color: rgb(4, 119, 236);
    cursor: pointer;
}

.create-account:hover {
    text-decoration: underline;
}

#login {
    background-color: rgb(4, 119, 236);
    border: none;
    color: white;
    font-size: 20px;
    width: 120px;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
}